body{
	margin:0;
	padding:0;
	background: url(images/jelly.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-size:1.1em;
	color:#0099cc;
}
